.btn-avaliar {
    padding: 6px 12px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-avaliar:hover {
    background-color: #0b5ed7;
}
