.mobile-container{
    max-width:420px;
    margin:auto;
    font-family:Arial;
    background:white;
}

.event-banner{
    width:100%;
    border-radius:0 0 20px 20px;
}

.section{
    padding:15px;
}

.distance-buttons{
    display:flex;
    gap:10px;
}

.distance-buttons button{
    flex:1;
    border:none;
    padding:10px;
    border-radius:20px;
    background:#eee;
    font-weight:bold;
}

.kit-card{
    display:flex;
    gap:10px;
    background:#f5f5f5;
    padding:10px;
    border-radius:15px;
    margin-bottom:10px;
}

.kit-card img{
    width:90px;
    border-radius:10px;
}

.btn-inscrever{
    width:100%;
    background:#00a859;
    color:white;
    padding:15px;
    border:none;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
}

