.vs/
bin/
obj/
.idea/
*.iml
/workspace.xml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
Codigo/EvenPaceWeb/Core/obj/
Codigo/EvenPaceWeb/EvenPace/obj/
Codigo/EvenPaceWeb/Service/obj/
/shelf/
/workspace.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.EvenPace.iml
/contentModel.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
