@model IEnumerable<Models.HistoricoEventoViewModel>

<link rel="stylesheet" href="~/css/historico-eventos.css" />

<div class="historico-container">
    <h2>Histórico de Eventos Participados</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Data</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Evento">@item.Nome</td>
                <td data-label="Data">@item.Data.ToShortDateString()</td>
                <td data-label="Local">@item.Local</td>
            </tr>
        }
        </tbody>
    </table>
</div>
