@using EvenPaceWeb.Views.Shared
@model Models.CorredorViewModel

@{
    Layout = "_Layout_Login";
}

<main>
    <from>
        @* <img src="Imagem do sistema" ></img> *@
        <h1>Bem Vindo a Comunidade </h1>
        <div>
            <input type="email"/>
            <label>Email</label>
        </div>
        <div>
            <input type="password"/>
            <label>Senha</label>
        </div>
        <button>Entrar</button>
    </from>
</main>